<div class="output" name="output">
  <h3>Measurements</h3>
  {{#each results}}
    <p> user id: {{this.userid}},<br>
      chest: {{this.chest}},<br>
      waist: {{this.waist}},<br>
      calories: {{this.calories}},<br>
      average heart rate: {{this.avgheartrate}},<br>
      max heart rate: {{this.maxheartrate}} </p>
  {{/each}}
</div>
